body {
  margin: 0px;
  padding: 0px;
  background-color: #16947a;
  overflow: hidden !important;
}

@font-face {
  font-family: "quesFont";
  src: url("../font/sofiaproblackazquestions-webfont.woff2") format("woff2"),
    url("../font/sofiaproblackazquestions-webfont.woff") format("woff");
}
@font-face {
  font-family: "ansFont";
  src: url("../font/sofiaproboldazanswer-webfont.woff2") format("woff2"),
    url("../font/sofiaproboldazanswer-webfont.woff") format("woff");
}
@font-face {
  font-family: stepFont;
  src: url("../font/SofiaProRegularAzSteps.otf");
}
@font-face {
  font-family: mediumFont;
  src: url("../font/SofiaProMediumAzInstruction.otf");
}
iframe {
  border: none;
  overflow: hidden;
  width: 518px;
  background: transparent;
  height: 290px;
  margin: 0 auto;
  display: block;
}
.error {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  top: 68%;
  font-family: "quesFont";
}
.webDiv {
  width: 64%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  display: block;
  right: 0;
}
#backButtonIns {
  float: left;
  margin-left: 50px;
}
#letsGoDiv {
  background-image: url("../assets/screen1/BG.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.letsGoButton {
  position: absolute;
  bottom: 8vw;
  width: 100%;
}
.letsGoButton img {
  width: 40%;
  cursor: pointer;
}
#quizDiv {
  background-image: url("../assets/screen2/BG.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#quizDiv {
  display: none;
}
#instructionDiv {
  display: none;
}
#finalScreen {
  display: none;
}
#letsGoDiv {
  display: block;
}
.rightLogo img {
  width: 13%;
  position: absolute;
  right: 6.5%;
  top: 4%;
}
#finalScreenButton {
  float: right;
  margin-right: 50px;
}

#quizList {
  text-transform: uppercase;
  color: #fff;
  font-size: 12vh;
  text-align: center;
  width: 81%;
  position: absolute;
  left: 0;
  font-family: quesFont;
  right: 0;
  top: 18%;
  margin: 0 auto;
  line-height: 1.05;
}

#answerList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  top: 43%;
}
#or {
  width: 7%;
}
button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 75px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  padding: 50px;
  font-family: quesFont;
}
#progressImgId {
  width: 6%;
}

.buttonNextPre img {
  width: 16%;
  cursor: pointer;
  padding-left: 140px;
  padding-right: 140px;
}
.buttonNextPre {
  text-align: center;
  position: absolute;
  bottom: 12%;
  left: 0;
  width: 100%;
  right: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}
#instructionDiv {
  background-image: url(../assets/screen3/BG.png);
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}
.instBackButton {
  text-align: center;
  /* bottom: 0; */
  margin-top: 66px;
}
/* #nextClick {
  pointer-events: none;
} */
.instBackButton img {
  width: 23%;
  /* padding: 38px; */
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
#changeHeadText {
  font-size: 32px;
  color: #014e92;
  font-family: "quesFont";
  text-align: center;
  margin-top: 26px;
  text-transform: uppercase;
}
.changesSubHeadText {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "mediumFont";
  color: #095598;
  text-align: center;
  margin-bottom: 10px;
}
.stepText {
  color: #22af8a;
  line-height: 0.2;
  font-family: "stepFont";
  font-size: 17px;
}
p span {
  color: #095598;
  font-size: 17px;
  font-family: "stepFont";
}
.spanText {
  width: 567px;
  text-align: initial;
  margin: 0 auto;
}
#changeSubText {
  margin-top: 5%;
}
#vdoLink {
  /* text-align: center; */
  margin-top: 23px;
  /* width: 87%;
  margin: 23px auto; */
}
#finalScreen {
  background-image: url(../assets/screen4/BG.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}
.Booklet-recipe img {
  width: 35%;
  text-align: center;
  margin: 5% auto;
  display: block;
}

.finalLogoDiv {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}
.logogreenFinal {
  /* text-align: center; */
  /* text-align: end; */
}
.logogreenFinal2 {
  text-align: end;
}
.lastbutton {
  cursor: pointer;
}
.blueLogo {
  margin-top: 33px;
}
.discoverImg {
  margin-top: 15%;
}
.discoverImg img {
  width: 75%;
}
.rightCenter {
  width: 40%;
  position: absolute;
  right: 0;
  height: 100%;
  text-align: center;
}
