body {
  margin: 0px;
  padding: 0px;
  background-color: #16947a;
  overflow: hidden;
}

@font-face {
  font-family: "quesFont";
  src: url("../font/sofiaproblackazquestions-webfont.woff2") format("woff2"),
    url("../font/sofiaproblackazquestions-webfont.woff") format("woff");
}
@font-face {
  font-family: "ansFont";
  src: url("../font/sofiaproboldazanswer-webfont.woff2") format("woff2"),
    url("../font/sofiaproboldazanswer-webfont.woff") format("woff");
}
@font-face {
  font-family: stepFont;
  src: url("../font/SofiaProRegularAzSteps.otf");
}
@font-face {
  font-family: mediumFont;
  src: url("../font/SofiaProMediumAzInstruction.otf");
}

iframe {
  border: none;
  overflow: hidden;
  width: 360px;
  background: transparent;
  height: 205px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.error {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  top: 56%;
  font-family: "quesFont";
}
#letsGoDiv {
  background-image: url("../assets/screen1/BG.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.letsGoButton {
  position: absolute;
  bottom: 9%;
  left: 0;
  right: 0;
  text-align: center;
}
.letsGoButton img {
  width: 40%;
  cursor: pointer;
}
#quizDiv {
  background-image: url("../assets/screen2/BG.png");
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#quizDiv {
  display: none;
}
#instructionDiv {
  display: none;
}
#finalScreen {
  display: none;
}
/* #letsGoDiv {
  display: none;
} */
.rightLogo img {
  width: 21%;
  position: absolute;
  right: 20px;
  top: 20px;
}

#quizList {
  text-transform: uppercase;
  color: #fff;
  font-size: 6vh;
  text-align: center;
  width: 81%;
  position: absolute;
  left: 0;
  font-family: quesFont;
  right: 0;
  top: 20%;
  line-height: 1.1;
  margin: 0 auto;
}

#answerList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  top: 44%;
}
#or {
  font-size: 32px;
  color: #fff;
  font-family: "stepFont";
  padding-top: 5px;
}
button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 7.2vw;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  /* padding: 12px; */
  line-height: 1.05;
  font-family: quesFont;
  margin: 0 1.8% 0;
}
.progressImg {
  position: absolute;
  bottom: 29%;
  left: 0;
  right: 0;
  text-align: center;
}
.progressImg img {
  width: 15%;
}
.buttonNextPre img {
  width: 36%;
  cursor: pointer;
  padding: 17px;
}
.buttonNextPre {
  text-align: center;
  position: absolute;
  bottom: 16%;
}
#instructionDiv {
  background-image: url(../assets/screen3/BG.png);
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.instBackButton {
  position: absolute;
  bottom: 3.2vw;
  text-align: center;
}
/* #nextClick {
  pointer-events: none;
} */
.instBackButton img {
  width: 36%;
  /* padding: 20px; */
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
}
#changeHeadText {
  font-size: 4vw;
  color: #014e92;
  font-family: "quesFont";
  text-align: center;
  margin-top: 26px;
  width: 95%;
  text-align: center;
  margin: 26px auto;
  text-transform: uppercase;
}
.changesSubHeadText {
  font-size: 21px;
  text-transform: uppercase;
  font-family: "mediumFont";
  color: #095598;
  text-align: center;
  margin-bottom: 12px;
}
.stepText {
  color: #22af8a;
  line-height: 1.3;
  font-family: "stepFont";
  font-size: 4vw;
  margin: 0;
}
p span {
  color: #095598;
  font-size: 4vw;
  font-family: "stepFont";
}
.spanText {
  width: 87%;
  text-align: justify;
  margin: 0 auto;
}
#changeSubText {
  margin-top: 51%;
  position: absolute;
  top: 11%;
  text-align: center;
  left: 0;
  right: 0;
}
#vdoLink {
  text-align: center;
  /* margin-top: 23px; */
  width: 90%;
  margin-top: 2vh;
}
#finalScreen {
  background-image: url(../assets/screen4/BG.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}
.Booklet-recipe img {
  width: 59%;
  text-align: center;
  margin: 45px auto;
  display: block;
}
.greenLogo img,
.blueLogo img {
  width: 54%;
  margin: 0 auto;
  display: block;
  padding: 14px;
}
.lastbutton {
  cursor: pointer;
}
.discoverImg {
  position: absolute;
  bottom: 19%;
  left: 0;
  right: 0;
  text-align: center;
}
.discoverImg img {
  width: 54%;
}

@media only screen and (min-width: 768px) {
  #letsGoDiv,
  #quizDiv,
  #instructionDiv,
  #finalScreen {
    width: 420px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
